<!DOCTYPE html>

@{
    Layout = null;
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>



    @using(Html.BeginForm("cats"))
    {
        @Html.AntiForgeryToken();

        <div> 
            @Html.Encode(ViewData["msg"])
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Cmd
                    </th>
                </tr>
                
                    <tr>
                        <td>

                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="submit" name="Search" value="検索">
                            <input type="submit" name="Clear" value="クリア">
                        </td>
                    </tr>                    
 
            </table>



            

        
        </div>

    }
</body>
</html>
