
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using(Html.BeginForm())
    {
        @Html.AntiForgeryToken();

        <div> 
            @Html.Encode(ViewData["msg"])

            <input type="submit" name="Search" value="検索">
            <input type="submit" name="Clear" value="クリア">
        
        </div>

    }
</body>
</html>
